.status {
  min-height: 75px;
  clear: both;
}

.reblog > p:first-of-type {
  color: #999;
}

.panel-heading {
  font-weight: bold;
}

.avatar {
  display: block;
  float: left;
  width: 50px;
  border-radius: 5%;
  margin-right: .10px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.username {
  font-weight: bold;
  margin-left: 65px;
  margin-bottom: 4px;
}

.acct {
  font-size: 97%;
  font-weight: normal;
  color: #a0a0a0;
}

.reblogger {
  color: #ccc;
}
.status-text {
  margin-left: 65px;
  color: #efefef;
}
.status-text a, .u-url, .mention, .hashtag {
  color: #9baec8;
}

.invisible {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 0;
}
