body {
  font-family: Roboto, sans-serif;
}

.status {
  min-height: 75px;
  clear: both;
}

.reblog > p:first-of-type {
  color: #999;
}

.panel-heading {
  font-weight: bold;
}
.panel-heading > .glyphicon {
  margin-right: 8px;
}

.avatar {
  display: block;
  float: left;
  width: 50px;
  border-radius: 5%;
  margin-right: .10px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.username {
  font-weight: bold;
  margin-left: 65px;
  margin-bottom: 4px;
}

.acct {
  font-size: 97%;
  font-weight: normal;
  color: #a0a0a0;
}

.reblogger {
  color: #ccc;
}

.status-text {
  margin-left: 65px;
  color: #efefef;
}

.status-text a, .u-url, .mention, .hashtag, .tag {
  color: #9baec8;
}

/* Attachments */

.attachments {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-height: 110px;
}

.attachment-image {
   display: block;
   width: 100%;
   height: 110px;
   text-decoration: none;
   cursor: zoom-in;
   border-radius: 2px;
}

/* Spoiler */

.spoiled input[type=checkbox] {
  display: none;
}

.spoiled input[type=checkbox] + label {
  display: block;
  text-align: center;
  margin-top: .5em;
  font-weight: normal;
  background: #222;
  color: #fff;
  padding: .3em;
  border: 1px solid #444;
  cursor: pointer;
}


.spoiled input[type=checkbox]:checked + label + .spoiled-content {
  height: auto;
  opacity: 1;
  padding: 10px;
}

.spoiled .spoiled-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 10px;
  background: #333;
  border: 1px solid #777;
  border-radius: 4px;
  transition: all .6s;
}

/* Status text content rules */

.attachment {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.invisible {
    display: none;
}
